**/__pycache__
*.pyc
.coverage
cov.xml
coverage.xml
dist/testIntegrityInspector-0.0.1.dev6-py3-none-any.whl
testIntegrityInspector.egg-info/dependency_links.txt
testIntegrityInspector.egg-info/not-zip-safe
testIntegrityInspector.egg-info/pbr.json
testIntegrityInspector.egg-info/PKG-INFO
testIntegrityInspector.egg-info/SOURCES.txt
testIntegrityInspector.egg-info/top_level.txt
build/lib/textIntegrityInspector/__init__.py
build/lib/textIntegrityInspector/__main__.py
build/lib/textIntegrityInspector/validator.py
junit.xml
requirements.txt
ChangeLog
testIntegrityInspector.egg-info/entry_points.txt
testIntegrityInspector.egg-info/requires.txt
