[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
PyYAML = "*"
toml = "*"
pbr = "*"
testintegrityinspector = {file = "."}

[dev-packages]
pipenv = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
build = "*"
# tox = "*"

[requires]
python_version = "3.8"
